/*Evergreen customizations*/
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}
ul {
	list-style-type: square;
}
.navbar-logo {
    background-color:#46502b;
	background-image: -moz-linear-gradient(center top , #6b7355, #46502b);
	background-repeat: repeat-x;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
	padding:5px 0 5px 10px;
}

.navbar-inner {
    background-color:#F3F3F3;
	background-image: -moz-linear-gradient(center top , #FFFFFF, #F3F3F3);
	background-repeat: repeat-x;
	border-bottom: 1px solid #D4D4D4;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
	padding-top:5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
}

.navbar .brand {
	color:#999;
}

.navbar .nav > li > a {
    color: #999;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
}
.navbar .nav > li > a:hover {
    color: #666;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .nav li.dropdown .dropdown-toggle .caret, .navbar .nav li.dropdown.open .caret {
    border-bottom-color: #666;
    border-top-color: #666;
}

.navbar .btn-navbar {
    background-color: #F3F3F3;
    background-image: -moz-linear-gradient(center top , #F3F3F3, #999);

}
/*.nav-collapse .dropdown-menu a {
	color:#CCCCCC;
}
*/

a.wordmark-org {
	font-size: 1.063rem;
	font-family: Helvetica,Arial,sans-serif;
	padding-top:10px;
	color:#CCCCCC;
}

.subtitle {
	padding:5px 20px 0 0;
	font-size: 1.063rem;
	font-family: Helvetica,Arial,sans-serif;
	font-style: italic;	
	color:#CCCCCC;

}

.editsection {
	font-size:10px;
	font-style:normal;
}
/*User btn*/
.btn-inverse {
    background-color: #F3F3F3;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #F3F3F3);
}
#user a.new {
	color:#999;
	padding-right:2px;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
}
/*search bar*/
.navbar-search .search-query:-moz-placeholder {
    color: #999;
}
.navbar-search .search-query {
    background-color: #FFFFFF;
	border:1px solid #CCCCCC;
}

.navbar-search .search-query:focus,.navbar-search .search-query:focused {}
/*.search-query {
    border-radius: 6px 6px 6px 6px;
}*/

/*fix for edit interface conflict wiht bootstrap class .label*/
.label, .badge{
    background-color:#E0EEF7;
}
.tool .label{
    background-color:#FFFFFF;
}

/*category pages styling*/
#mw-pages h2, #mw-subcategories h2 {
   /* background-color: #DADCD5;*/
    color: #666;
   font-size: 1.5em;
    margin: 20px 0 0 0;
    padding: 0 0 0 5px;
}

#mw-pages h3, #mw-subcategories h3 {
    background-color: #F3F3F3;
    color: #999999;
    font-size: 1.2em;
    margin: 0 40px 0 0;
    padding: 0 0 0 5px;
}

/*category links at bottom of page */
.well {
	padding:8px;
	margin: 10px 0 0 0;
}
